* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  height: 100vh;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaecc6, #2bc0e4);
}

.container {
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 4px 4x 30px #000;
  width: 50rem;
  height: 40%;
  margin: auto;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: left;
  background-repeat: no-repeat;
  position: relative;
}

.container h1 {
  padding: 0;
  font-size: 2.5rem;
}
.container h4 {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 0 1rem;
}

.container p {
  font-size: 1.2rem;
}
.container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container button {
  background: none;
  border: none;
  padding: 0;
}

.container .btn {
  position: absolute;
  left: 3rem;
  bottom: 2rem;
  padding: 0.7rem 1rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  background: #072a22;
  color: #fff;
}
.container button i {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  padding: 0.7rem 1rem;
  color: #fbfbfb;
  background: #000;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  outline: 0;
  border-radius: 50%;
  transition: 0.3s ease;
}

.container button i:hover {
  background: #deedea;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    margin: auto;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    text-align: left;
    background-repeat: no-repeat;
    position: relative;
  }

  .container .btn {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }
  .container button i {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
